
<div class="soi">
<h1>Soi#index</h1>
<p>Find me in app/views/soi/index.html.erb</p>
</div>

<h1>test#index</h1>
<p id="hoge">赤色になるよ</p>

<%= react_component('TestReact') %>

<script>
    $(function(){
        $('h1').css('color','orange')
    });
</script>