// Place all the styles related to the soi controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.soi{
  padding-top:50px;
}

.soi-react{
  background-color: greenyellow;
  color:white;
}